/******************************************************************************
 * 文件名：home.css
 * Web主要默认元素的格式定义文件，一般在jsp文件中通过：
 * <LINK href="theme/home.css" rel="stylesheet" type="text/css">
 * 引用本文件的格式定义。
 ******************************************************************************
 */
/******************************************************************************
 * 文档主体的默认样式定义
 ******************************************************************************
 */
BODY {
	/* IE5.5以上可见滚动条样式 */
	margin: 0;
    scrollbar-face-color:		#ffffff;
	scrollbar-track-color:		#ffffff;
	scrollbar-arrow-color:		#000;
	scrollbar-highlight-color:	#000;
	scrollbar-3dlight-color:	#ffffff;
	
	font-family: 宋体, Arial;
	font-size: 9pt;
	text-align: left;
	list-style-type: decimal;
	background:#f5f5f5;
	overflow: auto;
}
/******************************************************************************
 * 文档主体的默认样式定义(隐藏滚动条)(*)
 ******************************************************************************
 */
BODY.hiddenOverflow {
	/* IE5.5以上可见滚动条样式 */
	margin: 0;
    scrollbar-face-color:		#ffffff;
	scrollbar-track-color:		#ffffff;
	scrollbar-arrow-color:		#000;
	scrollbar-highlight-color:	#000;
	scrollbar-3dlight-color:	#ffffff;
	
	font-family: 宋体, Arial;
	font-size: 9pt;
	text-align: left;
	list-style-type: decimal;
	background:#f5f5f5;
	overflow: auto;
}

/******************************************************************************
 * 未被访问前
 ******************************************************************************
 */
a:link{
    color: #3366CC;
	text-decoration: none;
}
/******************************************************************************
 * 没有访问过的超级链接默认格式定义
 ******************************************************************************
 */
a {
	color: #3366CC;
	text-decoration: none;
}

/******************************************************************************
 * 鼠标移过时的超级链接默认格式定义
 ******************************************************************************
 */
a:hover {
	text-decoration: underline;
}

/******************************************************************************
 * 已经访问过的超级链接默认格式定义
 ******************************************************************************
 */
a:visited {
	text-decoration: underline;
	color: #65038e;
}

/******************************************************************************
 * 表单默认格式定义
 ******************************************************************************
 */
form {
	font-family: 宋体, Arial;
	font-size: 9pt;
}

/******************************************************************************
 * 一级标题默认格式定义
 ******************************************************************************
 */
H1 {
	font-family: 宋体, Arial;
    font-size: 24pt;
}

/******************************************************************************
 * 二级标题默认格式定义
 ******************************************************************************
 */
H2 {
	font-family: 宋体, Arial;
    font-size: 18pt;
}

/******************************************************************************
 * 三级标题默认格式定义
 ******************************************************************************
 */
H3 {
	font-family: 宋体, Arial;
    font-size: 14pt;
}

/******************************************************************************
 * 四级标题默认格式定义
 ******************************************************************************
 */
H4 {
	font-family: 宋体, Arial;
    font-size: 12pt;
}

/******************************************************************************
 * 五级标题默认格式定义
 ******************************************************************************
 */
H5 {
	font-family: 宋体, Arial;
    font-size: 11pt;
}

/******************************************************************************
 * 六级标题默认格式定义
 ******************************************************************************
 */
H6 {
	font-family: 宋体, Arial;
    font-size: 10pt;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

/******************************************************************************
 ******************************************************************************
 * 以下为单独的类定义,定义在页面任何地方都可以引用的格式
 ******************************************************************************
 ******************************************************************************
 */

/******************************************************************************
 * 标题默认格式定义,标题一般用来表示一个页面的名称，一般用来作为整个页面的标题。
 ******************************************************************************
 */
.header {
	font-family: 宋体, Arial;
    font-size: 18pt;
    background-color: #006666;
}

/******************************************************************************
 * 页脚默认格式定义,页脚一般放在页面的底部表示不太重要的信息。
 ******************************************************************************
 */
.footer {
	font-family: 宋体, Arial;
    font-size: 9pt;
    font-weight: bold;
	color: #333333;
	background-color: #CCCCCC;
}

/******************************************************************************
 * 标题默认格式定义,标题一般用来表示一个表格、表单等的名称，一般用来作为页面一部分的
 * 标题。
 ******************************************************************************
 */
.title {
	font-family: 宋体, Arial;
	font-size: 18pt;
	font-weight: bold;
}

/******************************************************************************
 * 子标题默认格式定义,子标题一般用来表示一个表格、一组控件等的名称，一般用来作为页面
 * 一部分的标题。
 ******************************************************************************
 */
.subtitle {
	font-family: 宋体, Arial;
    font-size: 16pt;
	font-weight: bold;
}

/******************************************************************************
 * 导航条的默认格式定义,一般把一组导航按钮或超级链接放在导航条之内，可以利用div或span
 * 元素进行格式限制。
 ******************************************************************************
 */
.nav {
	font-family: 宋体, Arial;
    font-size: 9pt;
	color: #FFFFFF;
    background-color: #009FA7;
	vertical-align: top;
	text-align: right;
}

/******************************************************************************
 * 导航条内部的按钮格式定义,用来限制导航条内按钮的格式。
 ******************************************************************************
 */
.navButton {
	font-family: 宋体, Arial;
    font-size: 9pt;
    font-weight: 400;
	vertical-align: top;
	text-align: left;
	color: white;
}

/******************************************************************************
 * 导航条内部的超级链接格式定义,用来限制导航条内超级链接的格式。
 ******************************************************************************
 */
.navLink {
	font-family: 宋体, Arial;
    font-size: 9pt;
    font-weight: 400;
	vertical-align: top;
	text-align: left;
	color: white;
}

/******************************************************************************
 * 区域框默认格式定义,一般用来把一组控件放在一个框里边。
 ******************************************************************************
 */
.box {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
    border-style: ridge;
}

/******************************************************************************
 * 分页显示（TabSheet）的页面,不同页间切换的按钮的样式定义，4个字的选中状态。
 ******************************************************************************
 */
.tabbedPanel_tabActive {
	background: URL(../images/list/tab4_selected.gif) ;
    text-align:center;
    vertical-align: middle;
    font-family: 宋体, Arial;
	font-size: 9pt;
	letter-spacing: 1px;
    width: 74; 
    height: 23;
}

/******************************************************************************
 * 分页显示（TabSheet）的页面,不同页间切换的按钮的样式定义，6个字的非选中状态。
 ******************************************************************************
 */
.tabbedPanel_tabInactive {
    background: URL(../images/list/tab4.gif);
    text-align:center;
    vertical-align: middle;
    font-family: 宋体, Arial;
	font-size: 9pt;
	letter-spacing: 1px;
    width: 74; 
    height: 23;
}

.tabbedPanel_tabActive_Medium {
	background: URL(../images/list/tab6_selected.gif) ;
    text-align:center;
    vertical-align: middle;
    font-family: 宋体, Arial;
	font-size: 9pt;
	letter-spacing: 1px;
    width: 113; 
    height: 23;
}

/******************************************************************************
 * 分页显示（TabSheet）的页面,不同页间切换的按钮的样式定义，6个字的非选中状态。
 ******************************************************************************
 */
.tabbedPanel_tabInactive_Medium {
    background: URL(../images/list/tab6.gif); 
    text-align:center;
    vertical-align: middle;
    font-family: 宋体, Arial;
	font-size: 9pt;
	letter-spacing: 1px;
    width: 113; 
    height: 23;
}
/******************************************************************************
 * 分页显示（TabSheet）的页面,不同页间切换的按钮的样式定义，空余部分。(*)
 ******************************************************************************
 */
.tabbedPanel_tabAirspace {
	vertical-align:middle;
	border-bottom: 1px solid #CCCCCC; 
}

/******************************************************************************
 * 工具条（按钮组）相关的格式定义
 ******************************************************************************
 */

/******************************************************************************
 * 工具条的格式定义
 ******************************************************************************
 */
.panelActionbar {
	font-family: 宋体, Arial;
    font-size: 9pt;
	font-weight: bold;
	background-color: #DEDECA;
}

/******************************************************************************
 * 工具条内超级链接的格式定义
 ******************************************************************************
 */
.panelActionbar a:link {
	text-decoration:none;
}

/******************************************************************************
 * 工具条的已访问超级链接格式定义
 ******************************************************************************
 */
.panelActionbar  a:visited {
	text-decoration:none;
}

/******************************************************************************
 * 工具条的超级链接鼠标移动上去时格式定义
 ******************************************************************************
 */
.panelActionbar  a:hover {
	text-decoration:underline;
}

/******************************************************************************
 * 工具条的图形格式定义
 ******************************************************************************
 */
.panelActionbar img {
	border:0;
}

/******************************************************************************
 * 工具条的表格单元格格式定义
 ******************************************************************************
 */
.panelActionbar td {
	padding:1;
}

/******************************************************************************
 * 工具条内的按钮格式定义
 ******************************************************************************
 */
.panelActionbar button {
	padding:1;
}

/******************************************************************************
 * 错误信息的格式定义
 ******************************************************************************
 */
.error_message {
	color: red;
	font-family: 宋体, "Times New Roman", Arial;
	vertical-align: middle;
	font-size: 9pt;
	text-align: left;
}

.error_message_th {
	font-weight: bold;
	text-align: left;
	vertical-align: top
}






